@import '@/styles/mixins';

.button {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background var(--transition-fast), opacity var(--transition-fast);
  text-decoration: none;
  border-radius: 50%;

  &.white {
    color: var(--blue);
    background: var(--white);
    box-shadow: 0 0 1.5rem 0 #3877EE1A;

    &:hover {
      color: var(--fuchsia);
    }

    &[disabled],
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.outline {
    color: var(--blue-dark);
    background: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: 1px solid currentColor;
      
      border-radius: 50%;
    }

    &:hover {
      color: var(--fuchsia);
    }


    &[disabled],
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }


  &.small {
    width: 8rem;
    height: 8rem;
    font: 400 3.2rem / 1 var(--font);

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &.medium {
    width: 10rem;
    height: 10rem;
    font: 400 3.6rem / 1 var(--font);

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &.large {
    width: 5.6rem;
    height: 5.6rem;
    font: 400 2rem / 1 var(--font);

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
