
.wrap {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  pointer-events: none;
  gap: 1px;

  div {
    width: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      right: -1px;
      background: magenta;
    }
  }
}

.range {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: black;
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 30px;
  gap: 15px;
  white-space: nowrap;
  cursor: pointer;


  input {
    width: 24px;
    height: 24px;
  }
}
