@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PT-Sans_Bold.woff2') format('woff2'),
  url('../assets/fonts/PT-Sans_Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PT-Sans_Regular.woff2') format('woff2'),
  url('../assets/fonts/PT-Sans_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSansNarrow';
  src: url('../assets/fonts/PT-Sans_Narrow-Regular.woff2') format('woff2'),
  url('../assets/fonts/PT-Sans_Narrow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

