@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 192);
}

html, body {
  overscroll-behavior: none;
  background: var(--grey);
  color: var(--blue-dark);
}

body {
  font: 500 2rem / 1.5 var(--font);
}

html, body, #__next {
  height: 100%;
}

a {
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.empty {
  height: 30vh;
  background: pink;
}
