@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overscroll-behavior: none;
  background: var(--grey);
  color: var(--blue-dark);
}

html {
  font-size: 10px;
}

body {
  font: 500 1.4rem / 1.5 var(--font);

  @include after($p768) {
    font-size: 1.6rem;
  }

  @include after($p1025) {
    font-size: 1.8rem;
  }

  @include after($p1280) {
    font-size: 2rem;
  }
}

html, body, #__next {
  height: 100%;
}


::selection {
  color: var(--white);
  background: var(--orange);
}

a {
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
