@import './mixins';

:root {
  --vh: 100vh;
  --vw: 100vw;

  --font: 'PTSans', sans-serif;
  --fontNarrow: 'PTSansNarrow', sans-serif;

  --ease: cubic-bezier(.215, .61, .355, 1);
  --transition-fast: .4s var(--ease);
  --transition-medium: .6s var(--ease);
  --transition-slow: .8s var(--ease);

  --white: #E9E9E9;
  --orange: #FF8040;
  --blue: #0046FF;
  --purple: #001BB7;
  
  --iris: #0046FF;
  --fuchsia: #FF8040;
  --blue-dark: #001BB7;
  --grey: #E9E9E9;
  --gradient: linear-gradient(to bottom, var(--iris), var(--fuchsia));
 
  --col: calc(var(--vw) / 24);
}
