@import '@/styles/mixins';

.slider {
  --block: 5.6rem;

  z-index: 2;
  position: absolute;
  height: max(calc(var(--vh) * .6), 400px);
  aspect-ratio: 1;
  border-radius: 50%;
  transform: rotate(-240deg);

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border: 1px solid var(--blue-dark);
    border-radius: 50%;
    opacity: .2;
  }
}

.axis {
  width: calc(100% + var(--block));
  height: var(--block);
  margin-top: calc(var(--block) * -.5);
  margin-left: calc(var(--block) * -.5);
  transform-origin: center;
  transform: rotate(0deg);
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: transform var(--transition-slow);
  pointer-events: none;

  &.active {
    .label {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s ease .6s;
    }

    .roundbtn {
      &::after {
        transform: scale(1);
        transition: transform .3s ease 0s;
      }

      &::before {
        opacity: 1;
        transition: opacity .2s ease .2s;
      }
    }
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .roundbtn {
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    background: transparent;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--orange);
      border: none;
      border-radius: 50%;
      transform: scale(0.3);
      z-index: 1;
      opacity: 1;
      will-change: transform;
      transition: transform .3s ease .2s;
    }
    
    &:hover {
      color: currentColor;

      &::after {
        transform: scale(1);
        transition: transform .3s ease 0s;
      }

      &::before {
        opacity: 1;
        transition: opacity .2s ease .2s;
      }
    }
  }

  .label {
    position: absolute;
    left: calc(100% + 2rem);
    opacity: 0;
    visibility: hidden;
    font: 600 4rem / 1 var(--font);
  }
}
