@import '@/styles/mixins';


.title {
  display: flex;
  gap: var(--col);
  font: 600 20rem / 1 var(--font);
  letter-spacing: -0.02em;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  span {
    &:first-of-type {
      color: var(--iris);
    }

    &:nth-of-type(2) {
      color: var(--fuchsia);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: var(--blue-dark);
    opacity: .2;
    z-index: -2;
  }

  &::before {
    top: calc(var(--vh) * -.5);
    height: calc(var(--vh) * 1.5);
    width: 1px;
  }

  &::after {
    left: 50%;
    width: var(--vw);
    transform: translateX(-50%);
    height: 1px;
  }
}
