@import '@/styles/mixins';


.title {
  display: flex;
  gap: var(--col);
  position: relative;
  z-index: 1;
  font: 600 14rem / 1 var(--font);
  text-align: center;
  justify-content: center;
  align-items: center;

  span {
    color: var(--violet);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: var(--blue-dark);
    opacity: .2;
    z-index: -2;
  }

  &::before {
    top: calc(var(--vh) * -.5);
    height: calc(var(--vh) * 1.5);
    width: 1px;
  }

  &::after {
    left: 50%;
    width: var(--vw);
    transform: translateX(-50%);
    height: 1px;
  }
}
