@import 'src/styles/mixins';
@import 'src/styles/variables';

.doubleSlider {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    
    @include mobile {
        gap: 16rem;
    }
}

.mainSlider,
.navigationSlider {
    max-width: calc(100vw - 550rem);
    width: 100%;
    padding-right: 4rem;
    
    @include desk-small {
        max-width: calc(100vw - 500rem);
    }
    @include tablet {
        padding-right: 0;
        max-width: calc(100vw - 64rem);
    }
    @include mobile {
        max-width: calc(100vw - 32rem);
    }
    
    
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8rem;
        backface-visibility: hidden;
    }
}
.mainSlider {
    padding-top: 80rem;
    overflow: hidden;
    
    @include desk-small {
        padding-top: 0;
    }
    
    
    &::before {
        content: '';
        position: absolute;
        top: 72rem;
        left: 0;
        width: 100%;
        height: 100%;
        background: $blue-light;
        border-radius: 8rem;
        z-index: 3;
    
        @include tablet {
            top: 0;
        }
    }
    
    [class *='swiper-wrapper'] {
        opacity: 0;
        transition: opacity .33s ease;
    }
    
    &.active {
        &::before {
           display: none;
        }
        [class *='swiper-wrapper'] {
            opacity: 1;
        }
    }
    
    &__slide {
        width: 100%;
        height: 500rem;
        border-radius: 8rem;
        overflow: hidden;
        
        @include tablet {
            height: 378rem;
        }
        @include mobile {
            height: 224rem;
        }
    }
    
    [class *='swiper-button-next'],
    [class *='swiper-button-prev'] {
        position: absolute;
        top: 4rem;
        width: 56rem;
        height: 56rem;
        border-radius: 50%;
        box-sizing: border-box;
        margin-top: 0;
    
        @include desk-small {
            display: none;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $blue-medium;
            border-radius: 50%;
            transition: transform .66s ease;
        }
        
        &::after {
            content: '';
            width: 24rem;
            height: 24rem;
            font-size: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue-medium;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity .3s ease;
        }
        
        &:hover {
            &::before {
                transform: scale(1.1);
            }
        }
    }
    [class *='swiper-button-next'] {
        right: 4rem;
    
        &::after {
            background-image: url('./arrow-right.svg');
        }
    }
    [class *='swiper-button-prev'] {
        right: 68rem;
        left: auto;
    
        &::after {
            background-image: url('./arrow-left.svg');
        }
    }
}
.navigationSlider {
    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: calc(25% - 20rem);
        height: calc(100% - 24rem);
        background: $blue-light;
        border-radius: 8rem;
        z-index: 3;
        
        @include tablet {
            width: calc(25% - 8px);
        }
        @include mobile {
            height: calc(100% - 16rem);
        }
    }
    &::after {
        left: 25%;
    }
    &::before {
        left: 0;
    }
    
    [class *='swiper-wrapper'] {
        opacity: 0;
        transition: opacity .33s ease;
    }
    
    &.active {
        &::after,
        &::before {
           display: none;
        }
        [class *='swiper-wrapper'] {
            opacity: 1;
        }
    }
  
    &__slide {
        height: 136rem;
        border-radius: 8rem;
        object-fit: cover;
        width: 100%;
        aspect-ratio: 220 / 140;
        margin-bottom: 24rem;
        position: relative;
        cursor: pointer;
        //overflow: hidden;
        
        @include tablet {
            height: 100rem;
        }
        
        @include mobile {
            height: 48rem;
            margin-bottom: 16rem;
        }
    
        &::before {
            content: '';
            position: absolute;
            border: 2px solid $dark;
            border-radius: 8rem;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: opacity .66s ease;
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: -24rem;
            left: 50%;
            transform: translateX(-50%);
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            background: $dark;
            transition: opacity 0.33s ease;
            opacity: 0;
    
            @include mobile {
                width: 6rem;
                height: 6rem;
                bottom: -12rem;
            }
        }
    }
    
    [class *= 'swiper-slide'] {
    
    }
    
    [class *= "swiper-slide-thumb-active"] {
        &::after,
        &::before {
            opacity: 1;
        }
    }
}


.figureImage {
    display: flex;
    flex-direction: column;
    gap: 24rem;

    @include tablet {
        gap: 16rem;
    }
    
    
    &__image {
        width: 100%;
        height: 500rem;
        border-radius: 8rem;
        
        @include tablet {
            height: 378px;
        }
        @include mobile {
            height: 224px;
        }
    }
    
    &__caption {
        color: $blue-medium;
    }
}
