@import '@/styles/mixins.scss';


.layout {
  position: relative;
  z-index: 10;
  margin: 0 calc(var(--col) * 2) 0 calc(var(--col) * 4);
  min-height: var(--vh);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background: var(--blue-dark);
    opacity: .2;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
